.stickyButton {
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 1;
}
.stickyButton img {
  width: 130px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.stickyButton :hover {
  width: 140px;
  height: auto;
}
