@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.aboutImage {
  position: relative;
  z-index: -100;
  margin-top: -75px;
}

.aboutImage img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.about .heading h1 {
  text-align: center;
  margin: 40px;
  font-family: "Titillium Web", sans-serif;
  color: #023020;
}
.about .paragraph {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 2.5%;
}
.about .paragraph .image {
  width: 50%;
  text-align: center;
}

.about .paragraph .image img {
  border-radius: 10%;
  width: 70%;
}

.about .paragraph .text {
  width: 50%;
  font-size: 1.2rem;
  padding-top: 10px;
  font-family: "Rubik", sans-serif;
  text-align: left;
  padding-bottom: 100px;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .about .paragraph {
    flex-direction: column;
  }

  .about .paragraph .image {
    width: 100%;
    text-align: center;
  }

  .about .paragraph .image img {
    width: 60%;
    margin: 0 auto;
  }

  .about .paragraph .text {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .about .paragraph {
    flex-direction: column;
    margin: 30px;
  }

  .about .paragraph .image {
    width: 100%;
    text-align: center;
  }

  .about .paragraph .image img {
    width: 60%;
    margin: 0 auto;
  }

  .about .paragraph .text {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    padding: 30px 10px 30px 10px;
    text-align: left;
  }

  .aboutImage img {
    height: 50vh;
  }
  .about .heading h1 {
    font-size: 2rem;
    margin: 15px;
  }
}

@media screen and (max-width: 576px) {
  .aboutImage img {
    height: 40vh;
  }
  .about .heading h1 {
    font-size: 20px;
    margin: 10px;
  }

  .about .paragraph {
    margin: 10px;
  }

  .about .paragraph .image img {
    width: 70%;
  }

  .about .paragraph .text {
    font-size: 0.8rem;
    padding: 30px 10px 30px 10px;
  }
}
