.aboutImage img {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}
.heading h1 {
  text-align: center;
  margin: 40px;
}
.firstParagraph {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 2.5%;
}
.firstParagraph .image {
  /* border: solid red 1px; */
  width: 50%;
  text-align: center;
}

.firstParagraph .image img {
  border-radius: 50%;
  width: 80%;
}

.firstParagraph .text {
  /* border: green solid 1px; */
  width: 50%;
  font-size: 1.2rem;
  padding-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
