.contact h1 {
  text-align: center;
}
.contact .body {
  display: flex;
  flex-direction: row;
  /* border: solid 1px red; */
  height: 50vh;
  align-items: center;
}
.contact .address,
.email,
.phone {
  /* border: solid 1px red; */
  width: 33.33%;
  height: 100px;
  text-align: center;
}
.contact .text,
.icon,
.subHeading {
  /* border: solid 1px pink; */
  color: #0047ab;
  margin: 10px;
}
