@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
.foo {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px 30px 5px;
}

.foo img {
  width: 33.33%;
  aspect-ratio: 2/1;
  object-fit: cover;
}
.gallery h1 {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  margin: 10px;
}

@media screen and (max-width: 576px) {
  .foo {
    margin: 15px 5px 30px 5px !important;
  }
  .foo img {
    width: 50% !important;
  }
}
