@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.carousel {
  width: auto;
  height: 100vh;
  opacity: 0.6;
  margin-top: -75px;
  z-index: -100;
}

.home .mainHeading {
  position: absolute;
  top: 40vh;
  right: 340px;
  font-size: x-large;
  color: #023020;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

.home .body {
  display: flex;
  flex-direction: column;
  background: #faf9f6;
}
.home .firstContainer {
  background: rgba(90, 118, 66, 0.5);
  border-radius: 5%;
  z-index: 10px;
  box-shadow: 5px 5px 2.5px grey;
  margin-top: 25px;
}
.home .secondContainer {
  background: rgba(42, 65, 29, 0.5);
  border-radius: 5%;
  margin-top: 25px;
  z-index: 10px;
  box-shadow: 5px 5px 2.5px grey;
}
.home .heading h1 {
  text-align: center;
  padding-top: 40px;
  font-family: "Titillium Web", sans-serif;
  color: #023020;
}
.home .firstParagraph {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 2.5%;
  display: flex;
  align-items: center;
  color: #282c35;
}
.home .secondParagraph {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 2.5%;
  padding-left: 3%;
  margin-left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282c35;
}
.home .firstParagraph .image {
  width: 50%;
  text-align: center;
}

.home .secondParagraph .image {
  width: 50%;
  text-align: center;
}

.home .firstParagraph .image img {
  border-radius: 5%;
  width: 50%;
}

.home .secondParagraph .image img {
  border-radius: 5%;
  width: 50%;
}

.home .firstParagraph .text,
.home .secondParagraph .text {
  width: 40%;
  font-size: 1.4rem;
  padding-top: 10px;
  font-family: "Rubik", sans-serif;
  text-align: left;
}
.footer {
  margin-top: 25px;
}
