.cards {
  display: flex;
  padding-top: 15px;
  padding-bottom: 50px;
}

.footer {
  margin-top: -15px;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .cards {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .cards {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}
