.footerLogo img {
  width: 80%;
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .footerCard {
    display: flex;
    flex-direction: column;
    padding-left: 0px !important;
  }

  .footerCard .container {
    width: 80%;
  }

  .footerLogo {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .footerCard {
    padding-left: 0px !important;
  }

  .footerLogo {
    display: none;
  }

  .socialMediaBox {
    margin-top: 20px;
  }

  .lastLine {
    font-size: 0.95rem !important;
  }
}
