/* Media Queries */

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .tentsCard {
    max-width: 45% !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .tentsCard {
    max-width: 85% !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
